.page.biblecontent .view {
  .nav {
    font-size: 2em;
    margin: $margin-standard 0;
    width: 100%;
    .nav-item {
      font-weight: 600;
      color: $color-text;
      width: 33.33%;
      text-align: center;
      vertical-align: middle;
    }
    .nav-previous,
    .nav-controls,
    .nav-next {
      font-size: 0.5em;
      color: $color-unimportant;
    }
    .nav-previous,
    .nav-next {
      a:hover {
        color: $color-text;
      }
    }
    .nav-controls {
      font-weight: normal;
      cursor: pointer;
    }
  }

  select.text-controls-bibles {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &::-ms-expand {
      display: none;
    }
    font-size: inherit;
    font-family: inherit;
    font-style: inherit;
    color: $color-unimportant;
    outline: none;
    background: none;
    border: none;
    width: 35px;
  }

  .nav-current-info {
    color: $color-unimportant;
    .passages {
      a:hover {
        text-decoration: underline;
      }
    }
  }

  .watch {
    iframe {
      margin: $margin-standard 0 0 0;
      $video-width: 580px;
      $video-width-min: 200px;
      $video-height: 326px;
      width: $video-width;
      height: $video-height;
      @for $width from $video-width through $video-width-min {
        @media (max-width: $width) {
          width:$width;
          height:calc($width/$video-width*$video-height);
        }
      }
    }
  }

  h2 {
    margin: calc($margin-standard*2) 0 $margin-standard 0;
    font-size: 1.5em;
    font-weight: 600;
    color: $color-text;
  }

  .text-controls-verses {
    cursor: pointer;
    color: $color-unimportant;
    &:hover {
      text-decoration: underline;
      color: $color-text;
    }
  }

  .time {
    font-size: 1em;
    color: $color-unimportant;
  }

  .text {
    margin: $margin-standard;
    font-weight: normal;
    color: $color-text;
    text-align: justify;

    p {
      margin: 1.25em 0;
      font-size: 1.2em;
      line-height: 1.75em;
      vertical-align: bottom;
    }

    p.title {
      font-size: 1.4em;
      font-weight: 600;
    }

    p.poetry {
      margin: 0 2em;
    }

    .c {
      display: none;
      font-weight: bold;
      font-size: 1.5em;
      line-height: normal;
    }

    .v {
      display: none;
      font-size: .83em;
      vertical-align: text-top;
      font-weight: bold;
      color: $color-verses;
      line-height: normal;
    }

    &.show-verses {
      .c {
        display: inline;
      }
      .v {
        display: inline;
      }
    }
  }
}

.page.passage .view {
  #reading-0 {
    margin-top: 40px;
  }
}

